{% extends 'Products/base.html' %}

{% block content %}
{% load static %}

<!-- image slider -->
    <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{% static 'Products/editors-keys-CtDrd7mWW6M-unsplash.jpg' %}"> <!-- image -->
                    <div class="caption center-align">
                      <h3>Cherry ms switches</h3>
                      <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's
                          our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Products/kevin-bhagat-4e-308oN_mQ-unsplash.jpg' %}"> <!-- image -->
                    <div class="caption left-align">
                      <h3>Style your tech</h3>
                      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="{% static 'Products/schattenstern-YBG0qT2j1Vc-unsplash.jpg' %}"> <!-- image -->
                    <div class="caption right-align">
                      <h3>Out of this world Gaming</h3>
                      <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
    </div>

<!-- The rows of Products -->
    <div class="row green accent-4">
        <div class="container">
            <h3 class="center white-text"><u>Featured Items</u></h3>
            {% for items in products01 %}
                <div class="col m12 l4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{items.title}}</span>
                            <p>{{items.description}}</p>
                        </div>
                        <div class="card-action">
                            <a href="" >View Product</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<!-- Good Review section -->
    <div class="row">
        <div class="container">
            <h3 class="center white-text"><u>Our Customers say</u></h3>
            {% for words in reviews %}
                <div class="col m12 l4">
                    <p>"{{ words.review }}"</p>
                    <p>-{{ words.name}}</p>
                </div>
            {% endfor %}
        </div>
    </div>


<!-- The Brand stuff -->

    <div class="row">
        <div class="col m12 l6">
            <div class="container">
                <h4>Lorem ipsum</h4>
                <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor.Aenean massa.Cum sociis natoque penatibus et</p>
            </div>
        </div>
        <div class="col m12 l6">
            <div class="container">
                <img src="{% static 'Products/abdul-barie-q0HdSgdNBNM-unsplash.jpg' %}" alt="and image" class="responsive-img">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m12 l6">
            <div class="container">
                <img src="{% static 'Products/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg' %}" alt="and image" class="responsive-img">
            </div>
        </div>
        <div class="col m12 l6">
            <div class="container">
                <h4>Lorem ipsum</h4>
                <p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                    dolor.Aenean massa.Cum sociis natoque penatibus et</p>
            </div>
        </div>
    </div>

  {% endblock %}