{% extends 'Products/base.html' %}

{% block content %}
    {% for items in product %}
        <div class="container">
            <div class="row">
                <div class="col m12 l6"><p>the pic area</p></div>
                <div class="col m12 l6">
                    <h3>{{ items.title }}</h3>
                    <p>{{ items.description }}</p>
                </div>
            </div>

            <div class="row">
                <p>other projects you might like</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}